body,div{
    margin:0;
    padding:0;
}

.gradient{
    width:300px;
    height:150px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff0000', endColorstr='blue'); /* for IE */
    background:-ms-linear-gradient(top, red, rgba(0, 0, 255, 1));
    background:-moz-linear-gradient(top, red, rgba(0, 0, 255, 1));  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 1)));  
    background:-o-linear-gradient(top, red, rgba(0, 0, 255, 1)); 
}
